

<div class="container mx-auto p-4">
    <h1 class="text-3xl font-semibold mb-6">Shopping Cart</h1>
  <!-- @if (product) { -->
    @for (item of localCart(); track $index) {
       <div class="space-y-4 mb-3">
      <div class="flex items-center border rounded-lg p-4 shadow-md">
        <div class="aspect-w-1 aspect-h-1 w-20 mr-4">
          <img [src]="item.imageUrl" [alt]="item.name" class="object-cover rounded-md" />
        </div>
        <div>
          <h2 class="text-lg font-medium"> {{item.name}} </h2>
          <p class="text-sm text-gray-600"> {{item.id}} </p>
          <p class="font-semibold"> {{item.price}} </p>
        </div>
        <button class="ml-auto bg-red-500 hover:bg-red-600 text-white py-1 px-2 rounded-md" (click)="removeCartItem(localCart(), item.id)">Remove</button>
      </div>
      </div>
    
   
  }
    <!-- } -->
      
  
    <div class="mt-8">
      <p class="text-xl font-semibold">Total: {{priceTotal}} </p>
      <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md">Checkout</button>
    </div>
  </div>