
<style>

    .wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    
    fa-icon {
        color: gray;
        font-size: 1.5rem;
        transition: color 0.3s ease;
        cursor: pointer;

        &.rated,
        &:hover,
        &:hover ~ fa-icon {
            color: #f39c12;
        }
    }

    &.readonly{
        fa-icon{
            cursor: default;

            &:hover:not(.rated),
            &:hover ~ fa-icon:not(.rated){
                color: gray;
            }
        }
    }
}
</style>
<div class="wrapper" [class.readonly]="readonly">
<fa-icon 
[class.rated]="rating >= 5"
(click)="setRating(5)"
[icon]="faStar" 
class="size-6 mr-3" />

<fa-icon 
[class.rated]="rating >= 4"
(click)="setRating(4)"
[icon]="faStar" 
class="size-6 mr-3" />

<fa-icon 
[class.rated]="rating >= 3"
(click)="setRating(3)"
[icon]="faStar" 
class="size-6 mr-3" />

<fa-icon 
[class.rated]="rating >= 2"
(click)="setRating(2)"
[icon]="faStar" 
class="size-6 mr-3" />

<fa-icon 
[class.rated]="rating >= 1"
(click)="setRating(1)"
[icon]="faStar" 
class="size-6 mr-3" />
</div>
<!-- <p class="mt-1 text-gray-900">
    {{ rating }}
</p> -->


